{
  "eslintIntegration": true,
  "trailingComma": "es5",
  "stylelintIntegration": true,
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "printWidth": 120
}
